@import '~bootstrap/scss/bootstrap';

h4 {
  font-family: Georgia, serif;
  color: #FFE6C6;
}

.centered {
  text-align: center;
}

.craft-connections {
  padding-bottom: 1rem;
  width: 85%;
}

.center {
  display: flex;
  justify-content: center;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .masthead {
    padding-top: 104px;
    padding-bottom: 1rem;
  }
}

.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 2.0rem;
    line-height: 1.5rem;
    color: #FFE6C6;
    font-variant: small-caps;
    padding-top: 15%;
    padding-bottom: 3%;
    text-align: center;
  }

.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('./images/craft.jpg');
  box-shadow: inset 0 0 4em 4em #000000;
}

.connections {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-color: white;
}

.leads {
  padding-bottom: 10%;
  color: #FFE6C6;
}

.lead1 {
  margin-left: 34%;
  margin-right: 34%;
}

.lead2 {
  margin-left: 36%;
  margin-right: 36%;
}

.lead3 {
  margin-left: 38%;
  margin-right: 38%;
}

.lead4 {
  margin-left: 40%;
  margin-right: 40%;
}

@media (max-width: 768px) {
  .lead1 {
    margin-left: 20%;
    margin-right: 20%;
  }

  .lead2 {
    margin-left: 22%;
    margin-right: 22%;
  }

  .lead3 {
    margin-left: 24%;
    margin-right: 24%;
  }

  .lead4 {
    margin-left: 26%;
    margin-right: 26%;
  }
}

@media (max-width: 425px) {
  .lead1 {
    margin-left: 2%;
    margin-right: 2%;
  }

  .lead2 {
    margin-left: 4%;
    margin-right: 4%;
  }

  .lead3 {
    margin-left: 6%;
    margin-right: 6%;
  }

  .lead4 {
    margin-left: 8%;
    margin-right: 8%;
  }
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  color: #fff;
}


@media (min-width: 425px) {
  .modal-body {
    display: flex;
    text-align: center;
    height: calc(40vh);
    overflow-y: auto;
  }
}

.map {
  background-image: url('./images/transparrent.png');
  background-size: auto;
  position: relative;
  margin: 3%;
  padding: 21%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  opacity: .95;
}

@media (max-width: 765px) {
  .map {
    background-image: url('./images/mapcrop.png');
    background-size: auto;
    position: relative;
    margin: 3%;
    padding: 45%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    opacity: .95;
    border-radius: 5%;
    border-style: solid;
    border-color: #FFE6C6;
  }
}

@media (max-width: 425px) {
  .map {
    display: none;
  }
}

.mobile {
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.5rem;
  font-variant: small-caps;
  padding-bottom: 3%;
}

@media (min-width: 425px) {
  .mobile {
    display: none;
  }
}

.grape:hover {
  filter: invert(100%);
}

.grape {
  cursor: pointer;
  width: 1.5%;
  z-index: 1;
  position:absolute;
}

@media (max-width: 765px) {
  .grape {
    cursor: pointer;
    z-index: 1;
    position:absolute;
  }
}

.france {
  width: 3.0%;
  top: 33.7%;
  left: 46.45%;
}

.portugal {
  width: .85%;
  top: 39.9%;
  left: 45.5%;
}
.italy {
  width: 2.5%;
  top: 36.75%;
  left: 49%;
}
.germany {
  width: 2.1%;
  top: 30.6%;
  left: 48.85%;
}
.chile {
  width: 2%;
  top: 76.7%;
  left: 30.6%;
}
.argentina {
  width: 4.45%;
  top: 79.1%;
  left: 31.0%;
}

@media (max-width: 765px) {
  .portugal {
    width: 2.5%;
    top: 32.7%;
    left: 60.6%;
  }

  .france {
    width: 9.2%;
    top: 23.15%;
    left: 64%;
  }

  .italy {
    width: 8%;
    top: 27.65%;
    left: 72%;
  }

  .germany {
    width: 6.3%;
    top: 19%;
    left: 71.5%;
   }

  .chile {
    width: 6.5%;
    top: 85.2%;
    left: 14.3%;
   }

  .argentina {
    width: 14.2%;
    top: 89.1%;
    left: 15.5%;
  }
}

.vineyard {
  width: 80%;
  margin: auto;
  border-radius: 3%;
}

// .modal-body .fixed {
//   position: fixed;
//   top: 5;
// }

.brand-modal {
  opacity: .9;
}
.modal-content .bottle {
  position: fixed;
  display: flex;
  top: 5%
}

.star-logo {
  display: block;
  width: 35%;
  margin-left: 40%;
}

.chassenac-logo {
  display: block;
  margin-left: 35%;
  width: 60%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.vanzeller-logo {
  display: block;
  margin: auto;
  width: 105%;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.vanzeller-mobile {
  display: block;
  margin: auto;
  width: 70%;
}

.bodega-logo {
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 1rem;
}

.bodega-header {
  display: block;
  margin-left: 40%;
  width: 50%;
}

.title {
  padding-bottom: 1rem;
  padding-right: 2rem;
  font-family: Georgia, serif
}

.silver-mobile {
  width: 35%;
  top: 5%;
  left: 45%;
  position:absolute;
}

.wine {
  position: fixed;
  display: flex;
  top: 14%;
  padding-left: 3%;
}

.mondon {
  height: 90%;
}

.pinasse {
  height: 90%;
}

.silver {
  width: 150px;
  left: 40%;
  top: 30px;
}

.pericou {
  height: 90%;
}

.parais {
  height: 90%;
}
.mondon-mobile {
  width: 35%;
}
.cognac {
  height: 90%;
  padding-top: 1%;
  margin-left: -9%;
}

@media (max-width: 1000px) {
  .wine {
    margin-left: -3%;
  }
  .cognac {
    margin-left: -15%;
    padding-top: 3%;
  }
}

.pinasse-mobile {
  width: 34.4%;
}

.pericou-mobile {
  width:34%;
}

.parais-mobile {
  width: 36%;
}



.cognac-mobile {
  width: 87.5%;
  padding-top: 2rem;
}

.bodega-cab {
  width: 80%;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.bodega-cab-mobile {
  width: 40%;
  padding-bottom: 2rem;
}

.bodega-malb {
  width: 79.5%;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.bodega-malb-mobile {
  width: 40%;
  padding-bottom: 2rem;
}

.douro {
  width: 33%;
}

.sebutal {
  width: 28.5%;
  padding-bottom: 1rem;
}

.sebutal-mobile {
  width: 27.7%;
}

.fonte-redBlend {
  width: 33.2%;
  padding-bottom: 1rem;
}

.fonte-redBlend-mobile {
  width: 34.65%;
}

.fonte-redSebutal {
  width: 33.1%;
  padding-bottom: 1rem;
}

.fonte-redSebutal-mobile {
  width: 32.15%;
}

.fonte-whiteSebutal {
  width: 31.3%;
  padding-bottom: 1rem;
}

.fonte-whiteSebutal-mobile {
  width: 30.5%;
}

@media (max-width: 550px) {
  .bottle {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .bottle {
    width: 45%;
    margin-left: 0
  }
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.modal-text {
  margin-right: 50px;
  font-family: Georgia, serif
}

.mobile-container {
  padding: 2rem;
}

.mobile-card {
  opacity: .95;
}

.mobile-title {
  color: black;
  font-family: Georgia, serif;
  text-align: center;
}

.mobile-star-logo {
  display: block;
  width: 65%;
}

.mobile-image {
  padding-bottom: 2rem;
}

/* Fade in */

.fade-in {
animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
