@import '~bootstrap/scss/bootstrap';

h4 {
  font-family: Georgia, serif;
  color: #FFE6C6;
}

.center {
  display: flex;
  justify-content: center;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-image: url('./images/countryside.jpg');
  box-shadow: inset 0 0 4em 4em #000000;
}

.masthead .masthead-heading {
  font-family: Georgia, serif;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #E9B122;
  font-variant: small-caps;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(2rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 8rem;
    line-height: 6.5rem;
  }
}

.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 2.0rem;
    line-height: 1.5rem;
    color: #FFE6C6;
    font-variant: small-caps;
  }

.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url('./images/craft.jpg');
  box-shadow: inset 0 0 4em 4em #000000;
  // opacity: .95
}

.connections {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-color: white;
  // box-shadow: inset 0 0 3em 5em #000000;
}

.lead1 {
  color: #FFE6C6;
  margin-left: 34%;
  margin-right: 34%;
}

.lead2 {
  color: #FFE6C6;
  margin-left: 36%;
  margin-right: 36%;
}

.lead3 {
  color: #FFE6C6;
  margin-left: 38%;
  margin-right: 38%;
}

.lead4 {
  color: #FFE6C6;
  margin-left: 40%;
  margin-right: 40%;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}


@media (min-width: 550px) {
  .modal-body {
    display: flex;
  }
}

.map {
  background-image: url('./images/transparrent.png');
  background-size: auto;
  position: relative;
  margin: 3%;
  padding: 21%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  opacity: .95;
}

.grape {
  cursor: pointer;
  width: 1.5%;
  z-index: 1;
  position:absolute;
}

.portugal { top: 39%; left: 44.5%; }
.france { top: 34.5%; left: 47.5%; }
.italy { top: 37.5%; left: 49.5%; }
.germany { top: 31%; left: 49%; }
.chile { top: 79%; left: 31%; }
.argentina { top: 80%; left: 32.5%; }

.vineyard {
  width: 100%;
  margin: auto;
}

.bottle {
  width: 45%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
}

.sebutal {
  width: 40.5%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
}

.fonte-real {
  width: 47%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
}

.fonte-real-white {
  width: 45%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
}

.bordeax {
  width: 90%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.bodega-cab {
  width: 94%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.bodega-malb {
  width: 100%;
  display: flex;
  margin: auto;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.centered {
  text-align: center;
}

.vanzeller-logo {
  display: block;
  margin-left: auto;
  width: 45%;
}

.star-logo {
  display: block;
  margin-left: auto;
  width: 45%;
}

.bodega-logo {
  display: block;
  margin-left: auto;
  width: 65%;
}

.chassenac-logo {
  display: block;
  margin-left: auto;
  width: 75%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media (max-width: 550px) {
  .bottle {
    width: 55%;
    display: flex;
    margin: auto;
    padding-bottom: 1rem;
  }
}

@media (max-width: 375px) {
  .bottle {
    width: 75%;
    display: flex;
    margin: auto;
    padding-bottom: 1rem;
  }
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.modal-text {
  margin-right: 50px;
}

/* Fade in */

.fade-in {
animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
